<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>toy-project 1</h1>
    <h2>Todo List</h2>
</div>
<div>
    <h3>할 일 입력</h3>
</div>
<div>
    <form action="/add" method="post">
        <input type="text" name="todo"> <br>
    </form>
</div>
<div><h3>할 일들</h3>
    <tr th:each="a, b: ${todoList}">
        <td th:text="${a}"/>
        <!--변수 값을 주소값에 담는 방식-->
        <form>
            <button type="submit" th:formmethod="post" th:formaction="@{/delete/{index}(index=${b.index})}">삭제
            </button>
            <input type="hidden" name="_method" value="delete">
        </form>
        <form>
            <button type="submit" th:formmethod="post" th:formaction="@{/edit/{index}(index=${b.index})}">수정
            </button>
            <input type="hidden" name="_method" value="put">
        </form>
        <!--변수 값을 폼에 담는 방식-->
        <!--<button type="submit" th:formmethod="post" th:formaction="@{/delete/index(index=${b.index})}">삭제</button>-->
        <br>
    </tr>
</div>
</body>
</html>